@font-face {
    font-family: "fuente star wars";
    src: url("../fonts/STJEDISE.TTF");
}
body{
    background-image: url(/img/fondo.png);
    width: 100%;
    font-family: "fuente star wars";
    min-height: 100vh;
}

li{
    padding: 10px;
}

#botones{
    color: white;
}

#titulo{
    text-align: center;
}

.star-wars {
    display: flex;
    justify-content: center;
    height: 800px;
    perspective: 400px;
    color: #feda4a;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 450%;
    font-weight: 600;
    letter-spacing: 6px;
    line-height: 150%;
    text-align: justify;
  }

.crawl {
    position: relative;
    top: -100px;
    transform-origin: 50% 100%;
}

@keyframes crawl {
    0% {
      top: 0;
      transform: rotateX(20deg) translateZ(0);
    }
    100% { 
      top: -6000px;
      transform: rotateX(25deg) translateZ(-2500px);
    }
  }
  .crawl {
    position: relative;
    transform-origin: 50% 100%;
    animation: crawl 70s linear;
  }

.masInformacion{
  position: absolute;
  left: 25vw;
  z-index:99;
  color: white;
}

.masInformacion2{
  position: absolute;
  left: 56vw;
  z-index:99;
  color: white;
}

.masInformacion3{
  position: absolute;
  left: 20vw;
  z-index:99;
  color: white;
}

.ov-btn-slide-leftBlue {
  font-family: "fuente star wars";
  background: #fff;
  color: #0014c4; 
  border: 2px solid #4741d7; 
  padding: 0.5vw 1vw;
  border-radius: 3px; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-leftBlue:hover {
  color: #fff; 
  box-shadow: 0 0 20px rgb(0, 17, 255);
}
.ov-btn-slide-leftBlue::after {
  content: "";
  background: #0800ff; 
  position: absolute;
  z-index: -1;
  padding: 0.5vw 1vw;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;

}
.ov-btn-slide-leftBlue:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.ov-btn-slide-leftGreen {
  font-family: "fuente star wars";
  background: #fff; 
  color: #00ff0d; 
  border: 2px solid #00ff2a;
  padding: 0.5vw 1vw;
  border-radius: 3px; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-leftGreen:hover {
  color: #fff; 
  box-shadow: 0 0 20px rgb(0, 255, 42);
}
.ov-btn-slide-leftGreen::after {
  content: "";
  background: #00ff0d;
  position: absolute;
  z-index: -1;
  padding: 0.5vw 1vw;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;

}
.ov-btn-slide-leftGreen:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}


.ov-btn-slide-leftRed {
  font-family: "fuente star wars";
  background: #fff; 
  color: #ff0000; 
  border: 2px solid #ff0000;
  padding: 0.5vw 1vw;
  border-radius: 3px; 
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}
.ov-btn-slide-leftRed:hover {
  color: #fff; 
  box-shadow: 0 0 20px rgb(255, 0, 0);
}
.ov-btn-slide-leftRed::after {
  content: "";
  background: #ff0000; 
  position: absolute;
  z-index: -1;
  padding: 0.5vw 1vw;
  display: block;
  top: 0;
  bottom: 0;
  left: -100%;
  right: 100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;

}
.ov-btn-slide-leftRed:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.volverInicio{
  position: absolute;
  z-index:99;
  color: white;
}

/* Yoda hecho por css.*/
#yoda #head {
  position: relative;
  width: 10vw;
  height: 6vw;
}
#yoda .ear {
  position: absolute;
  top: 35%;
  width: 30%;
  height: 33%;
  background: #716e3b;
}
#yoda .ear.left {
  left: 0;
  border-radius: 10% 0 0 100%;
}

#yoda .ear.right {
  right: 0;
  border-radius: 0 10% 100% 0;
}

#yoda .earhole {
  position: absolute;
  top: 25%;
  width: 75%;
  height: 50%;
  background: #404213;
}
#yoda .earhole.left {
  left: 10%;
  border-radius: 10% 30% 0 100%;
  transform: rotate(10deg);
}
#yoda .earhole.right {
  right: 10%;
  border-radius: 30% 10% 100% 0;
  transform: rotate(-10deg);
}

#yoda #face {
  position: absolute;
  width: 46%;
  left: 27%;
  height: 90%;
  border-radius: 50% 50% 35% 35%;
  background: #716e3b;
}
#yoda #chin {
  position: absolute;
  bottom: 0;
  left: 40%;
  height: 13%;
  width: 20%;
  border-bottom: 41px solid #716e3b;
  border-radius: 50%;
  z-index: -1;
}

#yoda #eyes {
  position: absolute;
  left: 12.5%;
  top: 55%;
  width: 75%;
  height: 10%;
  animation: blink 2s infinite;
}

#yoda .eye {
  position: absolute;
  height: 160%;
  width: 22%;
  border-radius: 100% 0 100% 0;
  transform-origin: 50% 50%;
  transform: rotate(45deg);
  background: #e2e0c7;
}
#yoda .eye.left {
  left: 5%;
}
#yoda .eye.right {
  right: 5%;
}

#yoda .eye::before {
  content: "";
  display: block;
  position: absolute;
  
  width: 130%;
  height: 130%;
  border-radius: 40%;
}
#yoda .eye.left::before {
  left: -10%;
  top: -35%;
  border-top: 2px solid #404213;
}
#yoda .eye.right::before {
  left: -35%;
  top: -10%;
  border-left: 2px solid #404213;
}

#yoda .eyeball {
  position: absolute;
  top: 15%;
  left: 25%;
  width: 60%;
  height: 60%;
  background: black;
  border-radius: 50%;
  z-index: -1;
}
#yoda .eyeball::after {
  content: "";
  display: block;
  position: absolute;
  left: 20%;
  top: 5%;
  width: 30%;
  height: 30%;
  border-radius: 50%;
  background: #e2e0c7;
}

#yoda #mouth {
  width: 38%;
  height: 3%;
  position: absolute;
  left: 31%;
  top: 88%;
  border-bottom: 3px solid black;
  border-top: 3px solid black;
  border-radius: 33%;
}
#yoda #mouth::before {
  content: "";
  display: block;
  position: absolute;
  left: -22%;
  top: -330%;
  width: 60%;
  height: 80%;
  border-radius: 50%;
  border-top: 2px solid #404213;
  transform: rotate(-45deg);
}
#yoda #mouth::after {
  content: "";
  display: block;
  position: absolute;
  right: -22%;
  top: -330%;
  width: 60%;
  height: 80%;
  border-radius: 50%;
  border-top: 2px solid #404213;
  transform: rotate(45deg);
}

#yoda #nose {
  width: 15%;
  height: 5%;
  position: absolute;
  border-radius: 50%;
  border-bottom: 2px solid black;
  top: 67%;
  left: 42.5%;
}
@keyframes blink {
  10% {
      transform: rotateX(89deg)
  }
  20% {
      transform: rotateX(0)
  }
}

.ajustarContainer{
  min-height: 100vh !important;
}